# Archivos de bytecode de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Entornos virtuales
venv/
env/
*.env

# Archivos de configuración del editor
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.suo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Otros archivos generados
*.coverage
*.tox
*.nox
*.coverage
*.hypothesis
